.charte {
  padding: 4% 0%;
}
.title-part {
  text-align: center;
  line-height: 1.618;
}

.title-part .soustitle {
  font-size: 1.5rem;
  color: #5a5a5a;
  padding-bottom: 8px;
  width: 70%;
  margin: auto;
}

.title-part h2 {
  font-size: 3rem;
  font-family: "PP_Gosha_b";
  text-transform: uppercase;
}

.time-line-container {
   height: 100vh;
    overflow-y: visible !important;
    overflow-x: visible; /* Use only overflow-x: scroll to allow horizontal scrolling */
    position: relative;
    display: flex;
    align-items: center;
}
.line-prancipal {
  position: relative;
}
.years-line {
  padding:0px 50vw;
  height: 10px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.month {
  width: 100px;
  height: 100%;
  display: inline-block;
  flex: 1;
  flex-grow: 1;
  background-color: var(--pcolor);
  position: relative;
}
.year-number {
  position: absolute;
  top: -40px;
  left: -5px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.month::after {
  content: " ";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--pcolor);
  border-radius: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}
.month.nosircle::after {
  height: 0px;
}
.month.year::after {
  height: 30px;
  width: 30px;
}
.lastmonth {
  width: 10px;
  height: 260px;
  position: absolute;
  top: 8px;
  border-top-right-radius: 6px;
}
.event {
  position: absolute;
  display: block;
  width: 400px;
  padding-top: 10px;
  padding-left: 30px;
  white-space: wrap;
}
.event.top {
  top: -250px;
  height: 250px;
}
.event.bottom {
  top: 0px;
  height: 250px;
}
.right-line {
  width: 1px;
  background-color: var(--pcolor);
  position: absolute;
  left: 10px;
}
.event.top .right-line {
  height: 80%;
  bottom: 0px;
}
.event.bottom .right-line {
  height: 50%;
  top: 0px;
}
.sircle {
  width: 10px;
  height: 10px;
  background-color: var(--pcolor);
  border-radius: 50%;
  transform: translate(-50%, 0%);
}
.event.bottom .sircle {
  bottom: 0px;
  position: absolute;
}
.box-event {
  -webkit-box-shadow: 6px 6px 16px 3px #eee6e1;
  -moz-box-shadow: 6px 6px 16px 3px #eee6e1;
  box-shadow: 6px 6px 16px 3px #eee6e1;
  background: rgba(224, 224, 224, 0.45);
  padding: 10px;
  border-radius: 8px;
}
.event.bottom .box-event {
  position: relative;
  top: 20px;
}
.date-event {
  color: var(--pcolor);
  font-size: 0.9rem;
}
.box-event h6 {
  font-family: "PP_Gosha_b";
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.box-event .description {
  line-height: 1.618;
}
:root {
  --text-color: #111;
  --bg-color: #b9b3a9;
}

 .pin-spacer {
  padding: 0px 0px !important;
  overflow: scroll;
} 

.charte_horisantel #sectionPin {
  height: 100vh;
  display: flex;
  width: fit-content !important;
}

.charte_horisantel .pin-wrap {
  height: 100vh;
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media screen and (max-width: 575px) {
  .title-part .soustitle {
    font-size: 1rem;
  }
  .title-part h2 {
    font-size: 1.6rem;
  }
  .event.top {
    top: -320px;
    height: 320px;
  }
  .event.bottom {
    height: 460px;
  }
  .event.bottom .box-event {
    top: 100px;
  }
  .title-part .soustitle {
    width: 90%;
  }
}




