/* --------------------------------   Nav Bar ----------------------- */

.nav_bar {
  display: inline-block;
  position: fixed;
  margin-top: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-content: center;
  z-index: 999;
  top: 0px;
}

.nav-b {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    45deg,
    #f1271171,
    #f5af196e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #f1271171, #f5af196e);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(243, 117, 0, 0.31);
  padding: 0px 6px !important;
  border-radius: 8px;
  justify-content: center;
  display: flex;
}

.nav-b .item {
  padding: 5px 16px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.877);
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  color: #505050;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s ease all;
}
.nav-b .item svg {
  display: none;
}
.nav-b .item:hover {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    45deg,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #f12711, #f5af19);
  color: #ffffff;
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
  .nav-b .item {
    padding: 2px 8px;
    margin: 3px;
    font-size: 0.8rem;
  }
  .logo-Name p {
    padding-left: 10px;
    font-size: 1rem;
  }
  .logo {
    width: 28%;
  }
  .cta {
    padding: 8px 16px;
  }
}
@media only screen and (max-width: 767px) {
  .top-nav {
    padding: 20px 0px;
  }

  .nav_bar {
    bottom: 0px;
    width: 100%;
    position: fixed;
    border-radius: 0px;
    background: rgba(255, 238, 222, 0.815);
    top: unset;
  }

  .nav-b {
    justify-content: center;
    border-radius: 0px;
    border: none;
  }
  .nav-b .item {
    background: none;
    border: none;
    color: var(--pcolor);
    margin: 10px;
    box-shadow: none;
    backdrop-filter: none;
    padding: 5px 10px;
    background: #ffeed8;
    text-align: center;
  }
  .nav-b .item svg {
    display: inline;
    margin-right: 5px;
  }
}
@media screen and (max-width: 575px) {
  .top-nav {
    padding: 20px 0px;
  }
  .nav-b {
    justify-content: space-around;
  }
  .logo {
    width: 40px;
  }

  .logo-Name p {
    font-size: 0.9rem;
  }
  .cta {
    font-size: 0.8rem;
  }
      .nav-b .item {
    
        color: #ffffff;
        margin: 5px;
        padding: 5px 10px;
        background: none;

    }
  .nav-b .item span {
    display: none;
  }
  .nav-b .item svg {
    margin-right: 0px;
    width: 25px;
    height: 25px;
  }

  .about-text {
    flex-direction: column;
  }

  .left h3 {
    text-align: left;
    font-size: 2rem;
    margin-right: 0px;
  }
}
