@font-face {
  font-family: "PP_Gosha_b";
  src: url("");
  src: url("assets/fonts/f_b/PPGoshaSans-Bold.eot");
  src: url("assets/fonts/f_b/PPGoshaSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/f_b/PPGoshaSans-Bold.woff2") format("woff2"),
    url("assets/fonts/f_b/PPGoshaSans-Bold.woff") format("woff"),
    url("assets/fonts/f_b/PPGoshaSans-Bold.ttf") format("truetype"),
    url("assets/fonts/f_b/PPGoshaSans-Bold.svg#PPGoshaSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP_Gosha_r";
  src: url("assets/fonts/f-r/PPGoshaSans-Regular.eot");
  src: url("assets/fonts/f-r/PPGoshaSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/f-r/PPGoshaSans-Regular.woff2") format("woff2"),
    url("assets/fonts/f-r/PPGoshaSans-Regular.woff") format("woff"),
    url("assets/fonts/f-r/PPGoshaSans-Regular.ttf") format("truetype"),
    url("assets/fonts/f-r/PPGoshaSans-Regular.svg#PPGoshaSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "consolas";
  src: url("assets/fonts/consolas/Consolas-Bold.eot");
  src: url("assets/fonts/consolas/Consolas-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/consolas/Consolas-Bold.woff2") format("woff2"),
    url("assets/fonts/consolas/Consolas-Bold.woff") format("woff"),
    url("assets/fonts/consolas/Consolas-Bold.ttf") format("truetype"),
    url("assets/fonts/consolas/Consolas-Bold.svg#PPGoshaSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Helvetica-light';
    src: url('assets/fonts/helvetica/Helvetica-Light.eot');
    src: url('assets/fonts/helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/helvetica/Helvetica-Light.woff2') format('woff2'),
        url('assets/fonts/helvetica/Helvetica-Light.woff') format('woff'),
        url('assets/fonts/helvetica/Helvetica-Light.ttf') format('truetype'),
        url('assets/fonts/helvetica/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('assets/fonts/helvetica/Helvetica.eot');
    src: url('assets/fonts/helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/helvetica/Helvetica.woff2') format('woff2'),
        url('assets/fonts/helvetica/Helvetica.woff') format('woff'),
        url('assets/fonts/helvetica/Helvetica.ttf') format('truetype'),
        url('assets/fonts/helvetica/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
  --pcolor: #f37500;
  --scolor: #3f1e0052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: "PP_Gosha_r";
  font-size: 16px;
  overflow-x: hidden;
  cursor: none;
}
p {
  margin: 0px;
}
.fixed-element {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smooth-wrapper {
  overflow: hidden;
}

.c-scrollbar {
background: #ffc68554;
}
.c-scrollbar:nth-of-type(2) {
 display: none;
}
.c-scrollbar_thumb{
   background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #f12711, #f5af19);
    pointer-events: none;
}
/* .container{
  overflow-y: hidden;
} */
@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}
@media (max-width: 768px) {
 .has-scroll-scrolling .c-scrollbar{
  display: none;
 }
}
